.react-datepicker__triangle {
  display: none;
}

.react-datepicker,
.react-datepicker__header {
  background-color: $dark-transparent !important;
  border-color: rgba(255,255,255,0.3) !important;
  color: white;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  text-transform: capitalize;
  color: white !important;
}

.react-datepicker__day--selected {
  background-color: rgba($red, 0.6) !important;
}

.react-datepicker__day:not(.react-datepicker__day--disabled) {
  transition: all 300ms ease-in-out;
  &:hover {
    background-color: rgba($yellow, 0.4) !important;
  }
}

.react-datepicker__day--disabled {
  cursor: default;
  color: #555 !important;
}

.react-datepicker-wrapper {
  button {
    background-color: rgba($red, 0.6) !important;
    &:hover {
      background-color: darken($red, 15%) !important;
    }
  }
}

.react-datepicker-popper {
  transform-origin: top left;
  transition: opacity 500ms ease-in-out;
}
