.home-container {
  background-color: rgba(220, 53, 69, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  max-width: 800px;
  padding: 0px;
  padding-top: 10px;
  margin-top: 20px;
  .row.row-title {
    text-align: center;
    //margin-top: 30px;
    padding-bottom: 6px;
    margin: 0;
    border-bottom: 1px solid rgba(220, 53, 69, 0.2);
  }
}
