.seat-table {
  display: table;
  text-align: center;
  //width: 80%;
  margin: auto;
  margin-bottom: 20px;
  ul {
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 30px;
    li {
      display: inline-block;
      cursor: pointer;
      position: relative;
      width: 20px;
      height: 20px;
      margin: 5px 5px -3px 0;
      background-color: #fff;
      border: 1px solid #c8c8c8;
      border-radius: 2px;
      &:hover {
      }
      span {
        text-align: center;
        margin: 0 auto;
        display: table;
      }
    }
    li.free, li.booked {
      transition: all 200ms ease-in-out;
      &:hover {
        transform: scale(1.2)
      }
    }
    li.booked {
      background: #00b9f5;
      border: 1px solid #00b9f5;
      text-align: center;
      color: #fff;
      font-weight: 600;
      font-size: 12px;
      position: relative;
    }

    li.reserved {
      background: $red;
      border: 1px solid $red;
      text-align: center;
      color: #fff;
      font-weight: 600;
      font-size: 12px;
      position: relative;
      cursor: not-allowed;
    }
    li.free {
      background: $green;
      border: 1px solid $green;
      text-align: center;
      color: #fff;
      font-weight: 600;
      font-size: 12px;
      position: relative;
    }
      li:first-child {
      margin: 4px 10px 0 15px;
      border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      color: #828282;
      font-size: 14px;
      border: 0;
      background: none;
      float: left;
    }
  }
}

.reservation-table {
  tr {
    transform-origin: top;
        overflow: hidden;
    td {
      transform-origin: top;
      overflow: hidden;
    }
  }
  select.form-control {
    height: 25px !important;
    font-size: 10px;
    padding-top: 3px;
  }
}

.d-block {
  width: 100%;
}
