@media (max-width: 992px) {
  .schedule-card {
    .card-img-overlay {
      position: static !important;
    }
    .card-img-top {
      display: none;
    }
  }

}

.schedule-card {
  max-width: 1150px;
  margin: auto;
  overflow-y: auto;
  background: black;
  //opacity: 0;
  .card-img-top {
    opacity: 0.3;
    filter: grayscale(100%);
  }
  //animation: schedule 1000ms forwards ease-in-out;
}
.schedule-card-fade {
  opacity: 0;

}
.schedule-card-fade-in {
  opacity: 1;
  transition: opacity 1000ms 500ms ease-in;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before, .react-datepicker__month-read-view--down-arrow::before {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    position: absolute;
    border: 8px solid transparent;
    height: 0;
    width: 1px;
}

.react-datepicker, .react-datepicker__header {
  background-color: $dark-transparent !important;
  color: white;

}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {

    color: white !important;

}

.react-datepicker__day--disabled {
    cursor: default;
    color: #555 !important;
}
