@import '_variables-kino.scss';
@import '_variables-bootstrap.scss';
@import 'bootstrap/scss/bootstrap.scss';
@import '_MovieModal.scss';
@import '_Loader.scss';
@import '_SeatTable.scss';
@import '_Schedule.scss';
@import '_Header';
@import '_Bookings';

.content {
  opacity: 0;
  animation: main 1000ms 800ms  1 ease-in forwards;
}

.carousel {
  transition: filter 500ms ease-in-out;
}

.carousel:hover {
  cursor: pointer;
  filter: grayscale(100%);
}

@keyframes main {
  from { opacity: 0 }
  to { opacity: 1 }
}
html, body {
  background-color: #222;
  background: url('../background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.main {
  margin-top: 50px;
  color: $gray-lightest;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card-columns {
  column-count: 1;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-columns {
    column-count: 3;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-columns {
    column-count: 4;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-columns {
    column-count: 5;
  }
}

.moviePoster {
  background: black;
  .card-img-overlay {
    //opacity: 0;
    padding-bottom: 60px;
    text-align: center;
    transition: opacity 1.2s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: filter 3s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    .upcomingDateBig {
      position: absolute;
      top: 35%;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 4em;
      font-weight: 700;
      text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
      opacity: 1;
      //transform: scale(1);
      transition: all 0.5s 0.1s linear;
    }
    .card-body {
      padding: 0;
      height: 100%;
      overflow: hidden;
      //overflow-y: auto;
      //text-overflow: ellipsis;
      transform: scale(0);
      transition: all 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    }
    .upcomingDate {
      font-size: 1.2em;
    }
    .card-title {
      //transform: scale(0);

    }
    .card-text {
      //margin-top: 0;
      //transition: margin-top 10s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      text-overflow: ellipsis;
      //transform: scale(0);
      //transition: scale 1.5s 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .card-footer {
      transform: scale(0);
      transition: all 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    button {
      animation-name: wiggle;
      animation-duration: 0.8s;
      animation-iteration-count: infinite;
    }
  }
}

.moviePoster:hover {
  img {
    opacity: 0.3;
    filter: grayscale(100%) blur(1px);
  }
  .card-img-overlay {
    opacity: 1;
    .card-body {
      transform: scale(1);
    }
    .upcomingDateBig {
    //  transform: scale(0)
      opacity: 0;
    }
    .card-title {
      transform: scale(1);

    }
    .card-text {
      transform: scale(1);
      //margin-top: -100px;
    }
    .card-footer {
      transform: scale(1)

    }
  }
}

.moviePoster * {
  transition: all 1.2s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-footer {
  position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    margin: -20px;
}

@keyframes wiggle {
    0% { transform: rotate(0deg);}
    20% { transform: rotate(-6deg);}
    //50% { transform: rotate(0deg);}
    80% { transform: rotate(6deg);}
    100% { transform: rotate(0deg);}
    to {top: 200px;}
}

.nameList+.nameList:before {
  content: ', ';
}

.fade-enter {
  opacity: 0;
  width: 100%;
  position: absolute;
  //background-color: #222;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: all 500ms 800ms ease-in;
}

.fade-exit {
  position: absolute;
  //background-color: #222;
  opacity: 1;
  width: 100%;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: all 800ms ease-in;
}

.pageSlider-enter {
  transform: translate3d(100%, 0, 0);
}

.pageSlider-enter.pageSlider-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
}
.pageSlider-exit {
  transform: translate3d(0, 0, 0);
}

.pageSlider-exit.pageSlider-exit-active {
  transform: translate3d(-100%, 0, 0);
  transition: all 600ms;
}

header .select-theater {
  width: auto;
}

.d-block {
  width: 100%;
}

.modal.fade .modal-dialog.select-theater-modal {
  transition: transform 0.8s ease-out !important;
  transform: translate(0, -100%) !important;
}

.modal.fade.show .modal-dialog.select-theater-modal{
  transform: translate(0, 0) !important;
}

.select-theater-modal {
  text-align: center;
  margin: 200px auto;
  .modal.fade .modal-dialog {
    transition: transform 0.8s ease-out !important;
    transform: translate(0, -100%) !important;
  }

  .modal.fade.show {
    transition: opacity 0.4s !important;
  }


    .modal-dialog {

    }
    .modal-header {
      display: block;
      border-color: darken($light-transparent, 15%)
    }
    .modal-content {
      background-color: $light-transparent;
      color: white;
    }
    .modal-footer {
      border-color: darken($light-transparent, 15%);
      display: block;
    }
    select {
      background-color: $light-transparent;
      color: white;
    }



}
