.loader {
  position: relative;
  margin: auto;
  width: 100px;
  height: 100px;
  border: 15px solid #bdc3c7;
  border-right-color: #1abc9c;
  border-left-color: #3498db;
  border-radius: 50%;
  top: 40%;
  animation: rotateLoader 12s infinite linear;
}

@keyframes rotateLoader {
  0% {
    transform: rotate(0deg) scale(1);
    border-left-color: #4DB6AC;
    border-right-color: #4DB6AC;
  }
  25% {
    border-left-color: #BA68C8;
    border-right-color: #BA68C8;
    transform: rotate(720deg) scale(1.1);
  }
  50% {
    transform: rotate(1440deg) scale(1);
    border-left-color: #4FC3F7;
    border-right-color: #4FC3F7;
  }
  75% {
    border-left-color: #F06292;
    border-right-color: #F06292;
    transform: rotate(2160deg) scale(1.1);
  }
  100% {
    transform: rotate(2880deg) scale(1);
    border-left-color: #4DB6AC;
    border-right-color: #4DB6AC;
  }
}

.loader-container {
  text-align: center;
  position: fixed;
  background: rgba(0,0,0,0.6);
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: all 1000ms linear;
  //transition: z-index 1ms 2000ms linear;
  //animation: fadeIn 4s forwards;
  display: table-cell;
    vertical-align: middle
}

.loader-container.loader-open {
  z-index: 1000000000;
  opacity: 1;
}

.loader-container.loader-closed {
  z-index: 0;
  opacity: 0;
}
