//Define colors

$kino-primary-color:       #e59c00; // Primary action
$kino-primary-color-hover: #cd8c00; // A slightly darker primary color
$kino-secondary-color:     #2486c5; // Secondary action, Modal title, Show, Expand

$kino-white:               #fff;

$kino-gray-lightest:       #f2f5f7;
$kino-gray-light:          #e6ebee;
$kino-gray:                #d4d4d4;
$kino-gray-darker:         #949494;
$kino-gray-darkest:        #555555;

$kino-blue-light:          #c5dce6;
$kino-blue:                #35b2e5;
$kino-blue-dark:           #337ab7;

$kino-light-red:           #F00749;
$kino-light-yellow:        #FFE208;
$kino-light-green:         #21C45A;

$dark-transparent: rgba(0,0,0,0.8);
$light-transparent: rgba(255,255,255,0.2);
$red-transparent: rgba(220, 53, 69, 0.8);

// Assign colors

$kino-bg-color:            $kino-gray-light;
$kino-border-color:        $kino-gray;
$kino-label-color:         $kino-gray-darker;
$kino-placeholder-color:   $kino-gray-darker;
$kino-text-color:          $kino-gray-darkest;

$kino-table-even-color:    $kino-gray-lightest;
$kino-table-odd-color:     $kino-white;
$kino-table-hover-color:   $kino-blue-light;
$kino-table-active-color:  $kino-blue;

$kino-link-color:          $kino-blue-dark;

// kino Fonts

$kino-font:                Lato, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$kino-font-weight-light:   300;
$kino-font-weight-normal:  400;
$kino-font-weight-bold:    700;

$kino-h1:                  1.5rem;     // 24px
$kino-h2:                  1.125rem;   // 18px

$kino-font-size:           0.875rem;   // 14px
$kino-font-size-sm:        0.75rem;    // 12px
$kino-font-size-lg:        1.0rem;
$kino-font-size-xs:        0.525rem;

// Other

$kino-border:              1px solid $kino-border-color;

$kino-border-square:       0px; // border-radius
$kino-border-rounded:      3px;

$kino-header-height:       65px;
