@import 'variables/kino';
@import 'variables/bootstrap';

@import 'bootstrap/scss/bootstrap';

@import 'partials/modals';
@import 'partials/header';
@import 'partials/home';
@import 'partials/schedule';
@import 'partials/movie-modal';
@import 'partials/loader';
@import 'partials/seat-table';
@import 'partials/bookings';
@import 'partials/carousel';
@import 'partials/movie-poster';
@import 'partials/select-theater';
@import 'partials/common';
@import 'partials/datepicker';


@import 'animations/transitions';
@import 'animations/keyframes';

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');

html, body {
  background-color: #222;
  background: url('../images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Alegreya Sans', sans-serif;
}

.content {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fade 2000ms 800ms 1 ease-in forwards;
}

.main {
  //margin-top: 50px;
  color: $gray-lightest;
}
